<mat-spinner
        *ngIf="state === ComponentState.LOADING; else loadEventsList"></mat-spinner>


<ng-template #loadEventsList>
    <app-add-event (eventCreate)="updateEvent($event)"></app-add-event>
    <ng-container *ngFor="let event of eventsListCreated" class="mat-elevation-z12">
        <app-event-detail [event]="event"></app-event-detail>
    </ng-container>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let event of eventsList" class="mat-elevation-z12">
        <app-event-detail [event]="event"></app-event-detail>
    </ng-container>
</ng-template>
