:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 5px;
  overflow: hidden;
}

app-event-detail {
  background-color: gainsboro; /* Sets the background color */
  margin: 16px;
  border-radius: 12px; /* Rounded corners */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transform to the transition */
  min-width: 250px;
  overflow: hidden; /* Hides the content that is outside the card */
  transform: scale(0.95);
}

app-event-detail:hover {
  box-shadow: 0 8px 16px grey; /* Optional: Shadow on hover */
  transform: scale(1);
}

