<div class="component-container">

  <!-- Display spinner if loading, otherwise display form -->
  <mat-spinner *ngIf="state === ComponentState.LOADING; else createUserForm"></mat-spinner>

  <ng-template #createUserForm>

    <mat-card *ngIf="state !== ComponentState.COMPLETED; else alreadyUser">
      <mat-card-content>
        <form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
          <mat-error *ngFor="let error of user.gqlErrors.getErrorsForField('nonFieldErrors')">{{ error }}</mat-error>

          <!-- Email -->
          <mat-form-field appearance="fill">
            <input type="email" matInput placeholder="Enter your email" [(ngModel)]="userInput.email" name="user_email"
                   required
                   email>
            <mat-error *ngIf="userForm.controls?.['user_email']?.errors?.['required']">Email is required.</mat-error>
            <mat-error *ngIf="userForm.controls?.['user_email']?.errors?.['email']">Enter a valid email.</mat-error>
            <mat-error *ngFor="let error of user.gqlErrors.getErrorsForField('user_email')">{{ error }}</mat-error>

          </mat-form-field>


          <!-- Password -->
          <mat-form-field appearance="fill">
            <input type="password" matInput placeholder="Enter a password" [(ngModel)]="userInput.password"
                   name="user_password"
                   required>
            <mat-error *ngIf="userForm.controls?.['user_password']?.errors?.['required']">Password is required.
            </mat-error>
            <mat-error *ngFor="let error of user.gqlErrors.getErrorsForField('user_password')">{{ error }}</mat-error>

            <!-- Password Strength Bar Placeholder -->
            <!-- This can be replaced with a component or directive for password strength visualization -->
            <div class="password-strength"></div>
          </mat-form-field>

          <!-- Confirm Password -->
          <mat-form-field appearance="fill">
            <input type="password" matInput placeholder="Confirm your password" [(ngModel)]="userInput.password2"
                   name="user_password2" required>
            <mat-error *ngIf="userForm.controls?.['user_password2']?.errors?.['required']">Confirm your password.
            </mat-error>
            <mat-error *ngFor="let error of user.gqlErrors.getErrorsForField('user_password2')">{{ error }}</mat-error>

            <!-- Matching Passwords Sign -->
            <mat-hint *ngIf="userInput.password && userInput.password === userInput.password2; else notMatching">
              <mat-icon color="primary">check_circle</mat-icon>
              Passwords match
            </mat-hint>
            <ng-template #notMatching>
              <mat-hint *ngIf="userInput.password">
                <mat-icon color="warn">error</mat-icon>
                Passwords do not match
              </mat-hint>
            </ng-template>
          </mat-form-field>

          <!-- Submit Button -->
          <button mat-raised-button color="primary"
                  [disabled]="!userForm.valid ||  state === ComponentState.PROCESSING">
            <span *ngIf="state !== ComponentState.PROCESSING">Proceed</span>
            <mat-spinner *ngIf="state === ComponentState.PROCESSING" diameter="20" mode="indeterminate"></mat-spinner>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #alreadyUser>
    <mat-card *ngIf="step === Step.CHOICE; else createClientOrOrganiser">
      <mat-card-content>
        <h1>Choose Your Role</h1>
        <p>Please select if you want to be a client or an organizer.</p>

        <!-- Client Option -->
        <mat-card class="choice-card" (click)="navigateToCreateClient()">
          <mat-card-content>
            <h2>Client</h2>
            <p>Choose this if you want to request services.</p>
          </mat-card-content>
        </mat-card>

        <!-- Organizer Option -->
        <mat-card class="choice-card" (click)="navigateToCreateOrganizer()">
          <mat-card-content>
            <h2>Organizer</h2>
            <p>Choose this if you want to offer services.</p>
          </mat-card-content>
        </mat-card>

      </mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #createClientOrOrganiser>
    <mat-card *ngIf="step === Step.CREATE_CLIENT">
      <app-create-client></app-create-client>
    </mat-card>
    <mat-card *ngIf="step === Step.CREATE_ORGANISER">
      <app-create-organiser></app-create-organiser>
    </mat-card>
  </ng-template>


</div>
