<ng-container *ngIf="state === ComponentState.LOADING">
    <mat-spinner class="spinner"></mat-spinner>
</ng-container>

<ng-container *ngIf="state === ComponentState.ERROR">
    <div class="error">
        <mat-icon>error</mat-icon>
        <span>Something went wrong</span>
    </div>
</ng-container>

<ng-container *ngIf="state === ComponentState.READY">
    <ng-container *ngIf="mode === ComponentMode.VIEW">
        <div>
            <span>{{eventDateTimeStatus}}</span>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="toggle()">
            <mat-icon>edit</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="mode === ComponentMode.EDIT">
<!--        <mat-form-field>-->
<!--            <input matInput [(ngModel)]="eventDateTimeStatusInput" placeholder="Status">-->
<!--        </mat-form-field>-->
        <mat-form-field>
            <mat-select [(ngModel)]="eventDateTimeStatusInput" placeholder="{{eventDateTimeStatusInput}}">
                <!-- Example options: -->
                <mat-option *ngFor="let status of StatusOptions" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <span class="spacer"></span>
        <mat-card-actions>

            <button mat-icon-butto (click)="save()">
                <mat-icon>
                    done
                </mat-icon>
            </button>
            <button mat-icon-butto (click)="cancel()">
                <mat-icon>
                    clear
                </mat-icon>
            </button>
        </mat-card-actions>

    </ng-container>
</ng-container>
