<!-- Show spinner when loading -->
<mat-spinner *ngIf="state === ComponentState.LOADING" class="spinner"></mat-spinner>

<!-- Show error when there's an issue -->
<ng-container *ngIf="state === ComponentState.ERROR">
    <mat-card @cardAnimation>
        <mat-card-header>
            <mat-card-title>Error</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Something went wrong</p>
        </mat-card-content>
    </mat-card>
</ng-container>

<!-- Show content if not loading or in error state -->
<ng-container *ngIf="state !== ComponentState.LOADING && state !== ComponentState.ERROR">
    <div [@cardAnimation]="mode" class="event-card">
        <ng-container *ngIf="mode === ComponentMode.LIST">
            <mat-card (click)="toggle()" class="pointer">
                <mat-card-header>
                    <mat-card-title>{{ event.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Category: {{ event.category }}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="mode === ComponentMode.DETAIL">
            <mat-card class="card-details mat-elevation-z16">
                <mat-toolbar-row>
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="toggle()">
                        <mat-icon>close</mat-icon>
                    </button>

                </mat-toolbar-row>
                <mat-card-header>
                    <app-event-title
                            [eventTitle]="event.title"
                            (eventTitleChange)="updateEventsTitle($event)"></app-event-title>
                </mat-card-header>
                <mat-card-content>
                    <app-event-category
                            [eventCategory]="event.category"
                            (eventCategoryChange)="updateEventsCategory($event)"></app-event-category>
                    <mat-divider></mat-divider>
                    <app-event-description
                            [eventDescription]="event.description"
                            (eventDescriptionChange)="updateEventsDescription($event)"></app-event-description>
                    <mat-divider></mat-divider>
                    <app-event-address
                            [eventAddress]="event['address']"
                            (eventAddressChange)="updateEventsAddress($event)"
                            (eventLocationChange)="updateEventsLocation($event)"></app-event-address>
                    <mat-divider></mat-divider>
                    <ng-container *ngFor="let eventDateTime of getDates();">
                        <app-event-datetime
                                [eventDateTime]="eventDateTime"
                                (eventDateTimeChange)="updateEventsDatetime($event)"
                                class="mat-elevation-z2"></app-event-datetime>
                        <mat-divider></mat-divider>
                    </ng-container>
                    <app-event-add-datetime
                            (eventDateTimeCreate)="updateEventsDatetime($event)"></app-event-add-datetime>
                </mat-card-content>
            </mat-card>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="save()" [disabled]="noChangesToSave">Save Changes
                </button>
                <button mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </ng-container>
    </div>
</ng-container>

