<ng-container *ngIf="state === ComponentState.LOADING">
  <mat-spinner class="spinner"></mat-spinner>
</ng-container>

<ng-container *ngIf="state === ComponentState.ERROR">
  <div class="error">
    <mat-icon>error</mat-icon>
    <span>Something went wrong</span>
  </div>
</ng-container>

<ng-container *ngIf="state === ComponentState.READY">
  <ng-container *ngIf="mode === ComponentMode.VIEW">
    <div>
      <span>{{eventCategory}}</span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="mode === ComponentMode.EDIT">
    <mat-form-field floatLabel="auto">
      <mat-label>Event Category</mat-label>
      <input matInput [(ngModel)]="eventCategoryInput" required>
    </mat-form-field>

    <span class="spacer"></span>
    <mat-card-actions>

      <button mat-icon-button (click)="save()" [disabled]="!eventCategoryInput" type="button">
        <mat-icon>
          done
        </mat-icon>
      </button>
      <button mat-icon-button (click)="cancel()" [disabled]="!eventCategory" type="button">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </mat-card-actions>

  </ng-container>
</ng-container>
