<mat-spinner
        *ngIf="state === ComponentState.LOADING; else loadEventsFilterForm"></mat-spinner>


<ng-template #loadEventsFilterForm>
    <form #eventsFilterForm="ngForm" (ngSubmit)="applyFilter(eventsFilterForm)">
        <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Search by Category"
                   [(ngModel)]="eventsFilter.filter.category.exact"
                   name="eventCategory">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Search by Title"
                   [(ngModel)]="eventsFilter.filter.title.icontains"
                   name="eventTitle">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Search by Description"
                   [(ngModel)]="eventsFilter.filter.description.icontains"
                   name="eventDescription">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Search by City"
                   [(ngModel)]="eventsFilter.filter.address.city.exact"
                   name="eventAddressCity">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Search by Postal Code"
                   [(ngModel)]="eventsFilter.filter.address.postalCode.exact"
                   name="eventAddressPostalCode">
        </mat-form-field>
        <div>
            <p>Search By Dates</p>
            <mat-form-field appearance="fill">
                <input type="text" matInput placeholder="Search by Day"
                       [(ngModel)]="eventsFilter.filter.dates.datetime.exact"
                       name="eventDateExact">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Search by Date From</mat-label>
                <input matInput [matDatepicker]="fromPicker" [(ngModel)]="datesFilter.from" name="eventDateFrom">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Search by Date To</mat-label>
                <input matInput [matDatepicker]="toPicker" [(ngModel)]="datesFilter.to" name="eventDateTo">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>

        </div>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="state === ComponentState.PROCESSING">
            <span *ngIf="state !== ComponentState.PROCESSING">Search</span>
            <mat-spinner *ngIf="state === ComponentState.PROCESSING" diameter="20" mode="indeterminate"></mat-spinner>
        </button>
        <button mat-raised-button color="warn" type="button" (click)="nextPage()"
                [disabled]="state === ComponentState.PROCESSING || !hasNextPage">
            <span>Load More</span>
        </button>
    </form>
</ng-template>
