<mat-spinner
        *ngIf="state === ComponentState.LOADING; else loadEventsFilterForm"></mat-spinner>


<ng-template #loadEventsFilterForm>
    <form #eventsFilterForm="ngForm" (ngSubmit)="applyFilter(eventsFilterForm)">
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Search by Category</mat-label>
            <input type="text" matInput
                   [(ngModel)]="eventsFilter.filter.category.exact"
                   name="eventCategory">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>search by Title</mat-label>
            <input type="text" matInput
                   [(ngModel)]="eventsFilter.filter.title.icontains"
                   name="eventTitle">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Search by Description</mat-label>
            <input type="text" matInput
                   [(ngModel)]="eventsFilter.filter.description.icontains"
                   name="eventDescription">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Search by City or Postal Code</mat-label>
            <input type="text" matInput
                   [(ngModel)]="addressSearch" name="eventSearch">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Search Radius</mat-label>
            <input type="text" matInput
                   [(ngModel)]="eventsFilter.filter.location.radius.exact"
                   name="radiusSearch">
        </mat-form-field>


        <mat-form-field appearance="fill" floatLabel="auto">
            <mat-label>Search by Date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="datesFilter.from" name="eventDateFrom">
                <input matEndDate placeholder="End date" [(ngModel)]="datesFilter.to" name="eventDateTo">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit"
                [disabled]="state === ComponentState.PROCESSING">
            <span *ngIf="state !== ComponentState.PROCESSING">Search</span>
            <mat-spinner *ngIf="state === ComponentState.PROCESSING" diameter="20" mode="indeterminate"></mat-spinner>
        </button>
        <button mat-raised-button color="warn" type="button" (click)="nextPage()"
                [disabled]="state === ComponentState.PROCESSING || !hasNextPage">
            <span>Load More</span>
        </button>
    </form>
</ng-template>
