<ng-container *ngIf="state === ComponentState.LOADING">
  <mat-spinner class="spinner"></mat-spinner>
</ng-container>

<ng-container *ngIf="state === ComponentState.ERROR">
  <div class="error">
    <mat-icon>error</mat-icon>
    <span>Something went wrong</span>
  </div>
</ng-container>

<ng-container *ngIf="state === ComponentState.READY">
  <ng-container *ngIf="mode === ComponentMode.VIEW">
    <div>
      <h1 class="eventAddress">{{addressToString(eventAddress)}}</h1>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="mode === ComponentMode.EDIT">
    <mat-form-field floatLabel="auto">
      <mat-label>Country</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.country" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>Postal Code</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.postalCode" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.city" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>Street Name</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.streetName" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>House Number</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.streetNumber" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>Additional</mat-label>
      <input matInput [(ngModel)]="eventAddressInput.additional">
    </mat-form-field>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-icon-button (click)="save()"
              [disabled]="!eventAddressInput ||
               !eventAddressInput.country ||
               !eventAddressInput.city ||
               !eventAddressInput.postalCode ||
               !eventAddressInput.streetName ||
               !eventAddressInput.streetNumber"
              type="button">
        <mat-icon>
          done
        </mat-icon>
      </button>
      <button mat-icon-button (click)="cancel()"
              [disabled]="!eventAddress ||
               !eventAddress.country ||
               !eventAddress.city ||
               !eventAddress.postalCode ||
               !eventAddress.streetName ||
               !eventAddress.streetNumber" type="button">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
</ng-container>
