:host {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added to give space for the margin of google-map */
    box-sizing: border-box; /* To include padding in the total width and height */
}

.map {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



