<mat-card>
  <mat-card-content>
    <form #userForm="ngForm" (ngSubmit)="loginUser(userForm)">
      <mat-error *ngFor="let error of user.gqlErrors.getErrorsForField('nonFieldErrors')">{{ error }}</mat-error>

      <!-- Email -->
      <mat-form-field appearance="fill">
        <input type="email" matInput placeholder="Enter your email" [(ngModel)]="userInput.email" name="user_email" required
               email>
        <mat-error *ngIf="userForm.controls?.['email']?.errors?.['required']">Email is required.</mat-error>
        <mat-error *ngIf="userForm.controls?.['email']?.errors?.['email']">Enter a valid email.</mat-error>
      </mat-form-field>


      <!-- Password -->
      <mat-form-field appearance="fill">
        <input type="password" matInput placeholder="Enter a password" [(ngModel)]="userInput.password" name="user_password"
               required>
        <mat-error *ngIf="userForm.controls?.['password']?.errors?.['required']">Password is required.</mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
